.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1.6;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-content-remove {
  color: #0D2948;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
  font-size: 15px;
  font-family: "Open Sans", "Helvetica", "sans-serif";

}

.btn-content-remove:hover {
  opacity: 1;
}

.btn-content-add {
  color: #0D2948;
  padding: 4px 8px;
  transition: opacity 0.3s ease;
  border: 1px solid #0D2948;
  border-radius: 50px;
  font-size: 14px;
}

.btn-add-remove:hover {
  opacity: 1;
}
